<header class="relative bg-white p-0 border-b-2 border-red-600">
  <div class="m-auto flex justify-between">
    <a routerLink="/" class="font-bold p-[1rem]">Food Mine</a>
    <nav>
      <ul>
        <li>
          <a routerLink="/login">Login</a>
        </li>
        <li class="menu-container">
   <a routerLink="/dashboard">hadi</a>
   <div class="menu">
    <a routerLink="/profile" class="w-[100%] min-w-[8rem]">Profile</a>
    <a routerLink="/orders">orders</a>
    <a >Logout</a>


   </div>
        </li>
        <li>
          <a routerLink="/cart-page">cart <span >3</span></a>
        </li>
      </ul>
    </nav>

  </div>
</header>

