/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
html{
  font-size: 16px;
}
html,button{
  font-family: "quicksand","sans-serif";
}
body{
  margin: 0;
}
